## Assignment 4 - Text Analysis

이번 과제에서는 주어진 텍스트를 분석하여 워드클라우드 그래프를 그린다.

* 학번: 2020-11657
* 학과: 언론정보학과
* 이름: 강혜나

### Dataset

주어진 데이터는 네이버에서 크롤링한 영화평이다.

데이터는 다음과 같이 구성되어 있다.

```
id	document	label
2190435	사랑을 해본사람이라면 처음부터 끝까지 웃을수 있는영화	1
9279041	완전 감동입니다 다시봐도 감동	1
7865729	개들의 전쟁2 나오나요? 나오면 1빠로 보고 싶음	1
...
9327892	타임 루프 소재중 거의 최악. 감독과 작가부터 자기 반성의 시간을 갖자	0
9953525	이쪽 저쪽 ...어디서 본듯한...내용이 뒤죽박죽 순수창작물인지?	0
7744648	전기세가 아까운 영화!	0
```

데이터를 보면 알 수 있듯이 긍정적인 평은 label이 1,
부정적인 평은 label 이 0이다.

### Q1: 긍정적인 리뷰를 선별하고 random 하게 리뷰 1000개를 선택한 후 형용사의 wordcloud를 그리시오 (5점)

In [1]:
import pandas as pd
import numpy as np
import random
from konlpy.tag import Komoran

ModuleNotFoundError: No module named 'konlpy'

In [4]:
def load_data(filename):
    data = pd.read_csv(filename, sep='\t')
    return data

In [6]:
df = load_data("naver_ratings.txt")
df

              id                                           document  label
0        8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1        8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2        4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3        9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4       10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
...          ...                                                ...    ...
199995   8963373                                     포켓 몬스터 짜가 ㅡㅡ;;      0
199996   3302770                                              쓰.레.기      0
199997   5458175                  완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
199998   6908648                왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
199999   8548411                                    포풍저그가나가신다영차영차영차      0

[200000 rows x 3 columns]

In [21]:
positive = (df['label'] == True)
pos = df[positive]
pos

             id                                           document  label
0       8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1       8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2       4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3       9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4      10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
...         ...                                                ...    ...
99995   3793074       귀신보다 사람이 얼마나 무서운가를 보여주는.. 메시지까지 담고있는 드라마~최고!      1
99996   3025658                이라크 및 아랍과의 전쟁을 그린 모든 영화 중에서 가장 최고!!      1
99997   7698359                     값으로 환산할 수 없을 만큼 귀엽고 황홀한 캐릭터 ㅠㅠ      1
99998   7068653                                                  짱      1
99999   3206900                       파괴지왕에서 장학우 콘서트 티켓을 얻기위한... ㅋ      1

[100000 rows x 3 columns]

In [27]:
pos_list = pos.sample(n=1000)
pos_list

             id                                        document  label
69696   5442448  전쟁영화 한번 더 볼 생각으로 틀었는데, 웬 잘생긴 청년이 걷기 시작해서 무작정 봄      1
64294  10007517     첩보 액션의 정점에 이른 명작. 우리나라에선 언제쯤 이런 영화를 볼 수 있을까      1
44831    749824                              유치하지만 재미있는 영화~~~~~      1
98236   1863761           밑에 잼없다는 사람 모뇽 진짜 재밌음 내용짱! 오늘봤는데 완전 강추      1
51096   9909220                   너므 재밌어요!!!! 가디도 귀엽고 레바도 귀여움ㅋㅋ      1
...         ...                                             ...    ...
3681    6694636                               제작비 0원! 100% 재능기부      1
86699   9565265                           초등아들 한번더 보자고 합니다...^^      1
78119   8109900               벤 애플렉은 차라리 연출쪽으로 방향을 완전히 틀었음 좋겠다.      1
67121  10241308                                3보단 못했지만 충분했다 꿀잼      1
55684   8056803                         최고의 드라마입니다. 주말이 가다려질만큼!      1

[1000 rows x 3 columns]

In [ ]:
cloud = WordCloud(width=900, height=600, 
                  font_path='/content/drive/MyDrive/_DataJournalism_2022/Week8/data/08서울남산체 B.ttf',
                  background_color='white')

### Q2: 부정적인 리뷰를 선별하고 random 하게 리뷰 1000개를 선택한 후 형용사의 wordcloud를 그리시오 (5점)

### Q3: BTS의 < MAP OF THE SOUL : PERSONA > 앨범 가사를 분석하여 단어의 빈도수, 공출현 빈도를 계산하고 wordcloud, network graph를 그리시오 (10점)

* 데이터는 'bts-2019' 폴더에 bts-01.txt ~ bts-07.txt 로 저장되어 있음.

In [ ]:
# (참고) 영어는 형태소 분석을 하지 않고 따로 분류를 한다 (코모란의 경우 SL로 태깅) 
# 이들을 모아 따로 영어 분석을 할 수도 있을 것.
from konlpy.tag import Komoran
k = Komoran()
print(k.pos('Kpop 아이돌로 태어나 다시 환생한 Artist'))

[('Kpop', 'SL'), ('아이돌', 'NNP'), ('로', 'JKB'), ('태어나', 'VV'), ('아', 'EC'), ('다시', 'MAG'), ('환생', 'NNG'), ('하', 'XSV'), ('ㄴ', 'ETM'), ('Artist', 'SL')]